APPLICATION_URL=https://localhost:7120
DATABASE_URL=

# Authentication credentials
PLAYWRIGHT_USERNAME="testuser@example.com"
PLAYWRIGHT_PASSWORD="your-test-password-here

# Auth0 "Resource Owner Password Grant" credentials
AUTH0_DOMAIN="your-auth0-domain"
AUTH0_CLIENT_ID="your-auth0-client-id"
AUTH0_CLIENT_SECRET="your-auth0-client-secret"
